.maincss {
    height: auto;
    width: 100vw;
    background: linear-gradient(135deg, #1f1c2c, #928dab);
  }
  
  .maincss h1 {
    text-align: center;
    font-size: 36px;
    color: #ffffff;
    margin-bottom: 40px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .maincss form {
    width: 60vw;
    max-width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 40px;
    gap: 25px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
    border-radius: 16px;
    backdrop-filter: blur(10px);
    line-height: 0px;
    transition: all 0.3s ease-in-out;
  }
  
  .maincss form:hover {
    scale: 1.01;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 10px #60daff, 0 0 30px #60daff;
    cursor: pointer;
  }
  
  .maincss form input {
    font-size: 16px;
    padding: 12px 15px;
    background-color: rgba(255, 255, 255, 0.07);
    color: #ffffff;
    border: 1px solid #ffffff20;
    border-radius: 10px;
    outline: none;
    transition: border 0.3s ease;
  }
  
  .maincss form input::placeholder {
    color: #c1c1c1;
  }
  
  .maincss form input:focus {
    /* border: 1px solid #60daff71; */
    border: 1px solid #60daff;
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .maincss form label {
      color: #f0f0f0;
      font-weight: 600;
      font-size: 18px;
      font-family: "Poppins", sans-serif;
      margin-bottom: -10px;  
  }
  
  .maincss form button {
    background-color: #00a6d8;
    color: #fff;
    padding: 14px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 15px rgba(0, 166, 216, 0.3);
  }
  
  .maincss button:hover {
    background-color: #0085ad;
    box-shadow: 0 0 5px #00a6d8, 0 0 20px #00a6d8;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  
  
  
  
  
  
  
  
  
  