{% extends 'main.html' %}
{% block content %}
<br><br><br><br><br><br>
<section class="maincss">
    <h1>Withdrawl</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <label for="">ACCOUNT NUMBER</label>
        <input type="number" name="acc" id="" placeholder="Enter Your Account Number">
        <label for="">PIN</label>
        <input type="password" name="pin" id="" placeholder="Enter Your Pin">
        <label for="">AMOUNT</label>
        <input type="number" name="amt" id="" placeholder="Enter the amount you want to withdraw">
        <button type="submit">WITHDRAW</button>
    </form>
    <br><br><br>
</section>

{% endblock content %}
